//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
// #secondary-menu {
//      margin-top: 14px;
// }

//_home.scss
// #home-watermark {
// 	background-position: right bottom;
// }
// #nav-developers {
//     background: #96161A;
// }
// #home-developers {
//     background: #96161A;
// }

#organization-logo img {
    width: 188px !important;
}

#brand-logo {
    float: left;
    padding: .25rem;
    font-size: 1rem;
    line-height: 1.875rem;
    a {
        color: $brand-primary;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        width: 70px;
        @media screen and (min-width: $screen-tablet) {
            width: 60px;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        padding: .375rem $padding-base;
        line-height: 3.75rem;
    }
    @media screen and (min-width: $screen-desktop) {
        font-size: 1.25rem;
        padding: .375rem $padding-large;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        font-size: 1.5rem; //24px
    }
}

#brand-logo span {
    position:absolute;
    height: 60px;
    top: 15px;
    left: 95px;
    font-size: 2.5rem;
    font-family: "Open Sans";
    font-weight: bold;
    color: $brand-space;
}


.loja-cnpj { 
    margin-left: 5px;
}